.authContainer {
    background: var(--primary-20);
    height: 70%;
    text-align: center;
    padding: 2.5rem;
}

.inputField {
    background: var(--primary-10);
}

.inputField input {
    padding: 12px;
}

.inputField fieldset {
    border: none;
}

.authContainer .authMainBtn {
    padding: 8px;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 6px;
    background-color: var(--primary-30);
}

.authContainer .authMainBtn:hover {
    background-color: var(--primary-30);
}

.authContainer .authNavBtn {
    color: var(--primary-30);
}