.authContainer {
    background: var(--primary-20);
    text-align: center;
    padding: 3rem 2.5rem;
    border-radius: 1rem;
}

.inputField input {
    padding: 12px;
    background: var(--primary-10);
}

.inputField fieldset {
    border: none;
}

.authContainer .authMainBtn {
    padding: 8px;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 6px;
    background-color: var(--primary-30);
}

.authContainer .authMainBtn:hover {
    background-color: var(--primary-30);
}

.authContainer .authNavBtn {
    color: var(--primary-30);
    text-transform: capitalize;
}

.authContainer .authNavBtn:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 450px) {
    .authContainer{
        padding:1.7rem;
    }
    .authContainer .authHead{
        font-size:1.5rem;
    }
}