input,
textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Roboto','Arial';
}

#title {
    font-size: 1.2rem;
}

#description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .modal .modalBox{
        width:92%;
    }
}