* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-10: #E7F6F2;
    --primary-20: #bbd8d9;
    /* --primary-20: #A5C9CA; */
    --primary-30: #395B64;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
