.homeMainContainer {
    padding-top: 2.5rem;
    background-color: var(--primary-10);
}

.homeImgCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeDiv {
    background-color: var(--primary-10);
}

.homeDiv img {
    width: 84%;
}

.homeDiv .homeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.message1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-30);
}

.message2 {
    text-align: center;
    color: var(--primary-30);
}

.addBtn {
    background: var(--primary-30);
    position: fixed;
    right: 10rem;
    bottom: 5rem;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 2;
}

.addIcon {
    transform: scale(1.2);
    color: white;
}

/* TRASH */

.trashMessageContainer {
    text-align: center;
    margin-bottom: 2rem;
}

.emptyTrashBtn {
    text-transform: capitalize;
    font-weight: 500;
    color: var(--primary-30);
    margin-bottom: 2px;
}

.emptyTrashContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.emptyTrashContainer .trashIcon {
    font-size: 4rem;
    opacity: 0.6;
}

.emptyTrashContainer #message {
    text-align: center;
}


/* CARDS */

.cardContainer {
    min-height: 91vh;
    max-height: auto;
    padding: 1rem 2rem;
}

.emptyCardContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filledCardContainer {
    justify-content: flex-start;
}

.cards {
    width: 20rem;
    height: fit-content;
    background: var(--primary-20);
    text-align: justify;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
    .homeDiv img {
        width: 100%;
    }

    .message1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .homeImgCont {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .addBtn {
        right: 35%;
        bottom: 8%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 450px) {
    .message1 {
        font-size: 1.7rem;
    }

    .message2 {
        font-size: 1.2rem;
        font-weight: normal;
    }
}