.navbar .navBtn {
    margin-top: auto;
    margin-bottom: auto;
}

.logoImg{
    height:1.6rem;
    cursor: pointer;
}

.profileIcon path{
    color: var(--primary-30);
}

.myDrawer>div:first-child{
    top:65px;
}

.activeDrawerButton{
    background-color: #E8E8E8;
}

@media only screen and (max-width: 900px) {
    .logoImg{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .myDrawer>div:first-child{
        top:57px;
    }
}